replicaCount: 1

image:
  repository: ghcr.io/claudiatn/acme-frontend
  tag: "1.0"
  pullPolicy: IfNotPresent

imagePullSecrets: 
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  hosts:
    - host: frontend.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
