replicaCount: 1

image:
  repository: ghcr.io/claudiatn/acme-frontend
  tag: "1.0"
  pullPolicy: IfNotPresent

imagePullSecrets: 
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 80

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
