name: Frontend CI/CD

on:
  #workflow_dispatch:
   push:
    branches:
       - staging
          
permissions:
  contents: read
  packages: write
  
jobs:
  ci:
    uses: claudiatn/platform-ci-cd/.github/workflows/ci-reusable.yaml@main
    with:
      image_name: acme-frontend
      version: 1.0.2
    secrets: inherit
  security:
    needs: ci
    uses: claudiatn/platform-ci-cd/.github/workflows/security.yaml@main
    secrets: inherit
  cd:
    needs: security
    uses: claudiatn/platform-ci-cd/.github/workflows/cd-reusable.yaml@main
    with:
      namespace: acme
      environment: staging
      path_chart: ""
      chart: frontend
    secrets: inherit
