name: Frontend CI/CD

on:
<<<<<<< HEAD:.github/workflows/deploy-prod.yaml
  push:
    branches:
      - main
=======
  workflow_dispatch:
  # push:
    # branches:
    #   - main
  # pull_request:
  #   branches:
  #     - develop
  #   types: [opened, synchronize, reopened]
    inputs:
      environment:
          type: choice
          description: Selecciona el entorno
          required: true
          options:
            - dev
            - staging
            - production
          default: dev
>>>>>>> c964044 (Update frontend-ci-cd.yaml):.github/workflows/frontend-ci-cd.yaml
          
permissions:
  contents: read
  packages: write
  
jobs:
  ci:
    uses: claudiatn/platform-ci-cd/.github/workflows/ci-reusable.yaml@main
    with:
      image_name: acme-frontend
      version: 1.0.2
    secrets: inherit

  cd:
    needs: ci
    uses: claudiatn/platform-ci-cd/.github/workflows/cd-reusable.yaml@main
    with:
      namespace: acme
      environment: production
      chart: frontend
    secrets: inherit
