name: Frontend CI/CD

on:
  #workflow_dispatch:
   push:
    branches:
       - dev
  # pull_request:
  #   branches:
  #     - develop
permissions:
  contents: read
  packages: write
  
jobs:
  ci:
    uses: claudiatn/platform-ci-cd/.github/workflows/ci-reusable.yaml@main
    with:
      image_name: acme-frontend
      version: 1.0.2
    secrets: inherit
  cd:
    needs: ci
    uses: claudiatn/platform-ci-cd/.github/workflows/cd-reusable.yaml@main
    with:
      namespace: acme
      environment: dev
      chart: frontend
    secrets: inherit
