name: Frontend CI/CD

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - develop
  #   types: [opened, synchronize, reopened]
permissions:
  contents: read
  packages: write
  
jobs:

  cd:
    uses: claudiatn/platform-ci-cd/.github/workflows/cd-reusable.yaml@main
    with:
      namespace: acme
      image_name: acme-frontend
      version: 1.0.1
      chart: frontend
    secrets: inherit
